html
  body
    img(src='img/close_button.png', height='16', width='16', alt='Home', onclick="\    mwl.switchClass('#search_title', 'show_title_search', 'show_title_main');\    mwl.setGroupTarget('#navigateToggle', '#home', 'show', 'hide');\    mwl.switchClass('#slider', 'show_miniapp', 'show_main');\    mwl.scrollTo('#main');")
