!!! 5
// paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')  
//if IE 8
  html.no-js.lt-ie9(lang='en')  
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    // Set the viewport width to device width for mobile
    meta(name='viewport', content='width=device-width')
    title Welcome to Foundation
    // Included CSS Files
    link(rel='stylesheet', href='test/stylesheets/styles.css')
    script(src='vendor/assets/javascripts/foundation/modernizr.foundation.js')
    // IE Fix for HTML5 Tags
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    .row
      .twelve.columns
        h2 Welcome to Foundation
        p This is version 3&period;0&period;6 released on July 20&comma; 2012&period;
        hr
    .row
      .eight.columns
        h3 The Grid
        // Grid Example
        .row
          .twelve.columns
            .panel
              p
                | This is a twelve column section in a row&period; Each of these includes a div&period;panel element so you can see where the columns are - it&apos;s not required at all for the grid&period;
        .row
          .six.columns
            .panel
              p Six columns
          .six.columns
            .panel
              p Six columns
        .row
          .four.columns
            .panel
              p Four columns
          .four.columns
            .panel
              p Four columns
          .four.columns
            .panel
              p Four columns
        h3 Tabs
        dl.tabs
          dd.active
            a(href='#simple1') Simple Tab 1
          dd
            a(href='#simple2') Simple Tab 2
          dd
            a(href='#simple3') Simple Tab 3
        ul.tabs-content
          li#simple1Tab.active This is simple tab 1&apos;s content&period; Pretty neat&comma; huh&quest;
          li#simple2Tab This is simple tab 2&apos;s content&period; Now you see it&excl;
          li#simple3Tab This is simple tab 3&apos;s content&period; It&apos;s&comma; you know&period;&period;&period;okay&period;
        h3 Buttons
        .row
          .six.columns
            p
              a.small.button(href='#') Small Button
            p
              a.button(href='#') Medium Button
            p
              a.large.button(href='#') Large Button
          .six.columns
            p
              a.small.alert.button(href='#') Small Alert Button
            p
              a.success.button(href='#') Medium Success Button
            p
              a.large.secondary.button(href='#') Large Secondary Button
      .four.columns
        h4 Getting Started
        p
          | We&apos;re stoked you want to try Foundation&excl; To get going&comma; this file &lpar;index&period;html&rpar; includes some basic styles you can modify&comma; play around with&comma; or totally destroy to get going&period;
        h4 Other Resources
        p Once you&apos;ve exhausted the fun in this document&comma; you should check out&colon;
        ul.disc
          li
            a(href='http://foundation.zurb.com/docs') Foundation Documentation
            br
            | Everything you need to know about using the framework&period;
          li
            a(href='http://github.com/zurb/foundation') Foundation on Github
            br
            | Latest code&comma; issue reports&comma; feature requests and more&period;
          li
            a(href='http://twitter.com/foundationzurb') &commat;foundationzurb
            br
            | Ping us on Twitter if you have questions&period; If you build something with this we&apos;d love to see it &lpar;and send you a totally boss sticker&rpar;&period;
    // Included JS Files
    script(src='vendor/assets/javascripts/foundation/jquery.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.reveal.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.orbit.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.forms.js')
    script(src='vendor/assets/javascripts/foundation/jquery.placeholder.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.tooltips.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.alerts.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.buttons.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.accordion.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.navigation.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.mediaQueryToggle.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.tabs.js')
    script(src='vendor/assets/javascripts/foundation/app.js')
