doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    style
      body {
      padding-top: 50px;
      padding-bottom: 20px;
      }
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    //if lt IE 7
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.
    .navbar.navbar-inverse.navbar-fixed-top
