html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    //if IE
      script(src='vendor/CFInstall.min.js')
      |       
      script(src='javascripts/hello-msie.js')
    |     
    meta(http-equiv='content-type', content='text/html; charset=us-ascii')
  |   
  body
    script.
      //<![CDATA[
      //]]>
    |     Hello World.
    |     blah
    |     blah
    |     blah
