doctype html
// paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')  
//if IE 8
  html.no-js.lt-ie9(lang='en')  
// [if gt IE 8] <!
html.no-js(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    // Set the viewport width to device width for mobile
    meta(name='viewport', content='width=device-width')
    title Welcome to Foundation
    // Included CSS Files
    link(rel='stylesheet', href='test/stylesheets/styles.css')
    script(src='vendor/assets/javascripts/foundation/modernizr.foundation.js')
    // IE Fix for HTML5 Tags
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    .row
      .twelve.columns
        h2 Welcome to Foundation
        p This is version 3.0.6 released on July 20, 2012.
        hr
    .row
      .eight.columns
        h3 The Grid
        // Grid Example
        .row
          .twelve.columns
            .panel
              p
                | This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it&#x27;s not required at all for the grid.
        .row
          .six.columns
            .panel
              p Six columns
          .six.columns
            .panel
              p Six columns
        .row
          .four.columns
            .panel
              p Four columns
          .four.columns
            .panel
              p Four columns
          .four.columns
            .panel
              p Four columns
        h3 Tabs
        dl.tabs
          dd.active
            a(href='#simple1') Simple Tab 1
          dd
            a(href='#simple2') Simple Tab 2
          dd
            a(href='#simple3') Simple Tab 3
        ul.tabs-content
          li#simple1Tab.active This is simple tab 1&#x27;s content. Pretty neat, huh?
          li#simple2Tab This is simple tab 2&#x27;s content. Now you see it!
          li#simple3Tab This is simple tab 3&#x27;s content. It&#x27;s, you know...okay.
        h3 Buttons
        .row
          .six.columns
            p
              a.small.button(href='#') Small Button
            p
              a.button(href='#') Medium Button
            p
              a.large.button(href='#') Large Button
          .six.columns
            p
              a.small.alert.button(href='#') Small Alert Button
            p
              a.success.button(href='#') Medium Success Button
            p
              a.large.secondary.button(href='#') Large Secondary Button
      .four.columns
        h4 Getting Started
        p
          | We&#x27;re stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
        h4 Other Resources
        p Once you&#x27;ve exhausted the fun in this document, you should check out:
        ul.disc
          li
            a(href='http://foundation.zurb.com/docs') Foundation Documentation
            br
            | Everything you need to know about using the framework.
          li
            a(href='http://github.com/zurb/foundation') Foundation on Github
            br
            | Latest code, issue reports, feature requests and more.
          li
            a(href='http://twitter.com/foundationzurb') @foundationzurb
            br
            | Ping us on Twitter if you have questions. If you build something with this we&#x27;d love to see it (and send you a totally boss sticker).
    // Included JS Files
    script(src='vendor/assets/javascripts/foundation/jquery.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.reveal.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.orbit.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.forms.js')
    script(src='vendor/assets/javascripts/foundation/jquery.placeholder.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.tooltips.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.alerts.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.buttons.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.accordion.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.navigation.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.mediaQueryToggle.js')
    script(src='vendor/assets/javascripts/foundation/jquery.foundation.tabs.js')
    script(src='vendor/assets/javascripts/foundation/app.js')
