html
  body
    p
      | Note the lack of the
      code &lt;meta name&equals;&quot;viewport&quot; content&equals;&quot;width&equals;device-width&comma; initial-scale&equals;1&period;0&quot;&gt;
      | &comma; which disables the zooming aspect of sites in mobile devices&period; In addition&comma; we reset our container&apos;s width and are basically good to go&period;
    p &copy; Company 2013
