html
  body
    p
      | Note the lack of the
      code &#x3C;meta name=&#x22;viewport&#x22; content=&#x22;width=device-width, initial-scale=1.0&#x22;&#x3E;
      | , which disables the zooming aspect of sites in mobile devices. In addition, we reset our container&#x27;s width and are basically good to go.
    p &#xA9; Company 2013
