html
  body
    p
      | Note the lack of the
      code &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
      | , which disables the zooming aspect of sites in mobile devices. In addition, we reset our container&apos;s width and are basically good to go.
    p &copy; Company 2013
