doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=ISO-8859-1')
    title html2jade.js
    link(rel='stylesheet', type='text/css', href='highlight.css')
  body.hl
    pre.hl.
      \nParser      StreamOutput      StringOutput      Writer      publicIdDocTypeNames      scope      systemIdDocTypeNames      _ref      
