html
  body
    textarea#text-area
      | javascript:window.s=document.createElement('script');window.sc=document.getElementsByTagName("body")[0]||document.getElementsByTagName("head")[0];s.src="http://xyz.com/path/app.js";sc.appendChild(s)
