html
  body
    textarea#text-area
      | javascript:window.s=document.createElement(&#x27;script&#x27;);window.sc=document.getElementsByTagName(&#x22;body&#x22;)[0]||document.getElementsByTagName(&#x22;head&#x22;)[0];s.src=&#x22;http://xyz.com/path/app.js&#x22;;sc.appendChild(s)
