html
  body
    textarea#text-area
      | javascript&colon;window&period;s&equals;document&period;createElement&lpar;&apos;script&apos;&rpar;&semi;window&period;sc&equals;document&period;getElementsByTagName&lpar;&quot;body&quot;&rpar;&lsqb;0&rsqb;&VerticalLine;&VerticalLine;document&period;getElementsByTagName&lpar;&quot;head&quot;&rpar;&lsqb;0&rsqb;&semi;s&period;src&equals;&quot;http&colon;&sol;&sol;xyz&period;com&sol;path&sol;app&period;js&quot;&semi;sc&period;appendChild&lpar;s&rpar;
